* {
  box-sizing: border-box;
  /* margin: 0;
  padding: 0; */
}

.board {
  text-align: center;
  margin: 40px auto;
  width: fit-content;
}

.board button {
  background: transparent;
  border: 2px solid #eee;
  border-radius: 5px;
  color: #eee;
  cursor: pointer;
  font-weight: bold;
  margin: 20px;
  transition: 0.2s;
}

.board h1 {margin: 0;}

.board .game {
  display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.turn {
  border-radius: 10px;
  display: flex;
    justify-content: center;
  margin: 15px auto;
  position: relative;
  width: fit-content;
}

.turn .square, .winner .square {
  border-color: transparent;
  height: 70px;
  pointer-events: none;
  width: 70px;
}

.square.is-selected {
  color: #fff;
  background: #09f;
}

.winner {
  background-color: rgba(0, 0, 0, .7);
  height: 100vh;
  place-items: center;
  position: absolute;
    top: 0;
    left: 0;
  width: 100vw;
}

.winner .text {
  background: #111;
  border: 2px solid #eee;
  border-radius: 10px;
  display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  height: 300px;
  /* place-items: center; */
  position: absolute;
    top: 50%;
    left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 320px;
}

.winner .win {
  border: 2px solid #eee;
  border-radius: 10px;
  display: flex;
    gap: 15px;
  margin: 0 auto;
  width: fit-content;
}

.square {
  border: 2px solid #eee;
  border-radius: 5px;
  cursor: pointer;
  display: grid;
  font-size: 48px;
  height: 80px;
  place-items: center;
  width: 80px;
}